/plots
/plots/**
/raw_data
/raw_data/**
/results
/results/**
./Rhistory
/**.html
/Total_Proteome/raw_data/**
/Total_Proteome/plots/**
/Total_Proteome/results/**
/TMT_PEAKS_Workflow_user.RMD
Total_Proteome/.Rhistory
/Modifications/raw_data/**
/Modifications/plots/**
/Modifications/results/**
Modifications/*.Rhistory
./.png